body{
    text-align: center;
    background-size:cover;
    font-family: verdana, Times New Roman, 新細明體, 微軟正黑體; 
}
div#settingBlock{
    margin-top:400px;
}
select{
    width:30%; 
}
.head11{
    background-color: #D4DDFF;
    width:30%;
    margin: auto;
    border-style: groove;
}
.button{
    background-color: #D4DDFF;
    width:50%;
    margin: auto;
    border-style: groove;
}
.h1{
    text-align: center;
    font-size: 30px;
}
.h2{
    text-align: left;
}
.selection{
    background-color:#B7F9FF;
    width:auto;
    height:auto;
}
body{
    font-family:"微軟正黑體";
}
.block{
    box-shadow:0px 0px 5px #888888;
    display:inline-block;
    height:auto;
    margin-top:10px;
    text-align: left;
    background-color:aliceblue; 
    padding:10px;margin:10px;
    width:1000px;

}
.block-head{
    
}
.headmy{
    font-weight:bold;
    height:100px;
    background-color: #D4DDFF;
}